html,body{ width:100%; height:100%; magin:0px; padding:0px;}
body{ background:url(../images/dl.jpg) center no-repeat; background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
 top:0px; float:left; display:block;
 margin:0 auto; font-size:12px; font-family:Arial,'����', Helvetica, sans-serif; background-color:#fcfdff}
img{border:0px;}

input { vertical-align:middle;}  

.c{ clear:both; height:0px; line-height:0px; font-size:0px;}

.top1,.divLogin,.divLogoInfo,.btndiv{ margin:0 auto;}




.divLogoInfo{ padding-top: 20px; margin-top:0px; text-align:right;  width:498px; height:170px;font-size:24px;color:#FFF;font-weight:bold;text-shadow: 5px 5px 5px #000000;font-family:Arial,'����';letter-spacing:0px;}
/*.divLogin{ padding-top: 190px; margin-top:150px; text-align:center;  width:538px; height:180px; background:url(../images/login/dl_03.png) no-repeat;}*/
.divLogin{ padding-top: 0px; margin-top:150px; text-align:center;  width:538px; height:370px; background:url(../images/dl_03.png) no-repeat;}
.divLogin input { vertical-align:middle; border:1px #ddd solid; background-color:#fff; width:280px; line-height:30px;height:30px; color:#777;} 
.input1 { background:url(../images/dl_06.png) left no-repeat; padding-left:25px;}
.input2{ margin-top:15px;  background:url(../images/dl_09.png) left no-repeat; padding-left:25px;}



.txt{font-family: "΢���ź�",tahoma,arial,"����"; font-size: 16px;     height: 22px;    line-height: 22px;    width: 198px;  border: 0 none;}
.prompt{font-family: "΢���ź�",tahoma,arial,"����"; font-size: 16px;     height: 22px;    line-height: 22px;    width: 198px;  border: 0 none; color:#FF0000;}
.btndiv{ padding-top:5px;  text-align:center; }
.divLogin .btn{margin-top:5px; cursor: pointer; background:url(../images/dl_12.png) no-repeat; width:149px; height:30px;  border: 0 none; }
